button {
    text-size-adjust: 24px;
    color: white;
    background-color: rgb(9, 146, 78);
    padding: 8px 24px;
    margin: 0 auto;
}
.jupiter {
    margin-left: 20%;
}
.saturn {
  background: #87e7ac;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
}
h1 {
    color: rgb(1, 58, 50);
    font-family: Arial, Helvetica, sans-serif;
}
h4,h5 {
    color: rgb(55, 141, 55);
}
a {
    color: rgb(209, 178, 0);
}